@using MvcKutuphane.Models.Entity
@model List<TBL_PERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Personel ID </th>
        <th>Personel ADI </th>
        <th>SİL </th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.PERSONEL</td>
            <td><a href="/Personel/PersonelDelete/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelUpdate/@item.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelAdd/" class="btn btn-primary">Yeni Personel Ekle</a>