@model MvcKutuphane.Models.Entity.TBL_PERSONEL

    @{
        ViewBag.Title = "PersonelBring";
        Layout = "~/Views/Shared/_Layoutnew.cshtml";
    }

    @using (Html.BeginForm("PersonelUpdate", "Personel", FormMethod.Post))
    {
        <br />
        <div class="form-group">
            @Html.LabelFor(k => k.ID)
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
            <br />
            @Html.LabelFor(k => k.PERSONEL)
            @Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control" })
            <br />
        </div>
        <div>
            <button class="btn btn-warning">Güncelle</button>
        </div>


    }

