@using MvcKutuphane.Models.Entity
@model List < TBL_UYELER >
    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}
<h2>ÜYE:@ViewBag.u1</h2>

<table class="table table-bordered">
    <tr>
        <th>Üye ID </th>
        <th>Üye ADI </th>
        <th>Üye Soyadı </th>
        <th>Okul </th>
        <th>SİL </th>
        <th>GÜNCELLE</th>
        <th>Kitap Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.AD</td>
    <td>@item.SOYAD</td>
    <td>@item.OKUL</td>
    <td><a href="/Üye/ÜyeDelete/@item.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Üye/ÜyeUpdate/@item.ID" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Üye/ÜyeKitapGecmis/@item.ID" class="btn btn-outline-primary">Kitap Geçmişi</a></td>
</tr>
    }
</table>
<a href="/Üye/ÜyeAdd/" class="btn btn-primary">Yeni Üye Ekle</a>
